{% extends "blog/base.html" %}
{% block title %}About My Blog{% endblock %}
{% block content %}
<div class="col-md-8">
    <h1>If you’re interested in learning a new skill, while you’re stuck inside during this global pandemic. These
craft kits for adults and kids make learning a new hobby as easy and convenient as possible.
Whether you want to crochet a beanie or bake your own perfect sourdough bread, taking up a new
hobby is a satisfying way to de-stress and practice self-care.
To help, we’ve rounded up the best adult and kids’ craft kits and supplies to help you start creating right
away.</h1>
</div>
{% endblock content %}